.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: var(--fonts);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 40px;
  background-color: transparent;
  color: white;
  gap: 10px;
  background-color: rgba(139, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgba(170, 0, 0, 0.9);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btn:active {
  transform: scale(1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 30px;
}
