* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a2e;
}

h1,
h2,
h3,
p {
  font-family: "noto sans", sans-serif;
  color: white;
}

.header_container {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  gap: 20px;
  position: relative;
}

.languague_container {
  position: absolute;
  top: 1px;
  right: 10px;
  background-color: darkred;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.languague_container:hover {
  transform: scale(1.2);
}

#cv_pic {
  width: 200px;
  border-radius: 50%;
}

.header_data_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "noto sans", sans-serif;
  color: white;
  gap: 17px;
}

#header_name {
  font-weight: 600;
}

#header_dev {
  font-weight: 200;
}

.location_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header_links_container {
  display: flex;
  gap: 20px;
}

.header_email_button {
  display: flex;
  border-radius: 10px;
  height: 40px;
  width: 220px;
  background-color: darkred;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: ease 0.4s;
}

.info_buttons {
  background-color: transparent;
  transition: ease 0.4s;
}

#mail_logo {
  width: 30px;
}

#email_a {
  color: white;
  text-decoration: none;
  font-family: "noto sans";
  font-size: 15px;
}

#doc_icon {
  width: 45px;
}

.header_email_button:hover,
.info_buttons:hover {
  transform: scale(1.2);
}

.about_me_container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.about_me_text {
  font-size: 20px;
  font-weight: 250;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.623);
  margin: 10px 0;
}

.technologies_container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

.technologies_logos {
  width: 100px;
  height: 100px;
}

.logos_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 1000px;
  margin: 0 auto;
}
