.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.formEmailjs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input {
  width: 300px;
  height: 35px;
  border-radius: 7px;
  font-family: var(--fonts);
  font-size: 20px;
}

label {
  text-align: center;
}

.message {
  height: 150px;
}

.btn {
  margin-top: 30px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  background-color: rgba(139, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgba(170, 0, 0, 0.9);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.btn:active {
  transform: scale(1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
