@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --fonts: "noto sans", "sans-serif";
  --btns_background_color: rgba(139, 0, 0, 0.8);
  --btns_background_color_hover: rgba(170, 0, 0, 0.9);
}

body {
  background-color: #1a1a2e;
}
