.link {
  display: flex;
  color: white;
  text-decoration: none;
  width: 75px;
  height: 65px;
  background-color: var(--btns_background_color);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  font-family: var(--fonts);
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.link:hover {
  background-color: var(--btns_background_color_hover);
  transform: scale(1.1);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.link:active {
  transform: scale(1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
