.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  background-color: #2d2d508a;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 50px;
}

.container:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.sub_container {
  margin-bottom: 15px;
}

.title,
.text {
  font-family: var(--fonts);
  color: white;
  text-align: justify;
}

.text {
  font-size: 18px;
  font-weight: 250;
  line-height: 1.6;
}
